body {
  overflow-x: hidden;
  direction: rtl;
}

.owl-carousel {
  direction: ltr;
}

.owl-carousel .owl-nav,
.owl-carousel .owl-dots,
.owl-carousel .owl-item {
  direction: rtl;
}

.contact__input-box .bootstrap-select .dropdown-menu,
.bootstrap-select .dropdown-toggle .filter-option {
  text-align: right;
}

.list-unstyled {
  padding-right: 0;
}

.services-one .service-card__bg {
  -webkit-mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900.000000 609.000000"><g transform="translate(900.000000,609.000000) scale(-0.100000,-0.100000)" stroke="none"> <path d="M350 6080 c0 -6 -12 -15 -27 -21 -153 -60 -255 -157 -303 -290 -20 -53 -20 -93 -20 -2736 0 -1930 3 -2690 11 -2710 60 -154 157 -255 290 -303 53 -20 100 -20 4191 -20 2989 0 4145 3 4165 11 77 30 138 67 181 108 58 57 109 132 123 183 5 22 17 42 25 45 21 8 21 4023 0 4023 -8 0 -17 14 -21 33 -4 17 -15 46 -24 62 -22 41 -101 145 -109 145 -4 0 -27 19 -52 43 -25 24 -121 110 -215 192 -93 81 -192 169 -220 194 -27 25 -102 91 -165 146 -63 54 -137 120 -165 146 -27 26 -86 78 -130 115 -68 58 -113 99 -179 159 -6 6 -63 55 -126 110 -63 55 -117 102 -120 106 -3 3 -45 41 -95 84 -105 92 -165 131 -218 146 -21 5 -41 17 -44 25 -4 12 -444 14 -3379 14 -2290 0 -3374 -3 -3374 -10z"/> </g> </svg>');
  mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900.000000 609.000000"><g transform="translate(900.000000,609.000000) scale(-0.100000,-0.100000)" stroke="none"> <path d="M350 6080 c0 -6 -12 -15 -27 -21 -153 -60 -255 -157 -303 -290 -20 -53 -20 -93 -20 -2736 0 -1930 3 -2690 11 -2710 60 -154 157 -255 290 -303 53 -20 100 -20 4191 -20 2989 0 4145 3 4165 11 77 30 138 67 181 108 58 57 109 132 123 183 5 22 17 42 25 45 21 8 21 4023 0 4023 -8 0 -17 14 -21 33 -4 17 -15 46 -24 62 -22 41 -101 145 -109 145 -4 0 -27 19 -52 43 -25 24 -121 110 -215 192 -93 81 -192 169 -220 194 -27 25 -102 91 -165 146 -63 54 -137 120 -165 146 -27 26 -86 78 -130 115 -68 58 -113 99 -179 159 -6 6 -63 55 -126 110 -63 55 -117 102 -120 106 -3 3 -45 41 -95 84 -105 92 -165 131 -218 146 -21 5 -41 17 -44 25 -4 12 -444 14 -3379 14 -2290 0 -3374 -3 -3374 -10z"/> </g> </svg>');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: top center;
  mask-position: top center;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (max-width: 575px) {
  .services-one .service-card__bg {
    -webkit-mask: unset;
    mask: unset;
  }
}

.team-card__shape {
  -webkit-mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900.000000 1149.000000"><g transform="translate(0.000000,1149.000000) scale(0.100000,-0.100000)" stroke="none"> <path d="M2120 11475 c0 -9 -14 -17 -37 -21 -60 -10 -213 -89 -271 -140 -94 -83 -172 -201 -213 -325 -18 -55 -22 -101 -29 -334 -5 -148 -13 -288 -18 -310 -49 -198 -190 -375 -366 -460 -127 -61 -204 -76 -436 -82 -171 -4 -205 -8 -275 -29 -109 -34 -201 -91 -280 -172 -96 -100 -130 -154 -170 -277 l-25 -78 0 -4343 c0 -3830 2 -4350 15 -4401 29 -111 91 -218 177 -304 82 -82 92 -88 198 -140 131 -64 -132 -59 3405 -59 1868 0 3244 4 3257 9 88 34 118 48 153 74 77 57 138 136 177 229 21 51 22 70 28 503 5 431 6 453 28 512 56 157 184 274 351 321 45 12 136 17 451 21 l395 6 60 29 c141 69 244 185 270 304 3 18 13 32 21 32 12 0 14 622 14 4525 0 4512 0 4525 -20 4545 -11 11 -20 27 -20 36 0 37 -66 137 -129 197 -59 55 -95 76 -194 116 -15 6 -25 16 -22 21 4 7 -1089 10 -3244 10 -2838 0 -3251 -2 -3251 -15z"/> </g> </svg>');
  mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900.000000 1149.000000"><g transform="translate(0.000000,1149.000000) scale(0.100000,-0.100000)" stroke="none"> <path d="M2120 11475 c0 -9 -14 -17 -37 -21 -60 -10 -213 -89 -271 -140 -94 -83 -172 -201 -213 -325 -18 -55 -22 -101 -29 -334 -5 -148 -13 -288 -18 -310 -49 -198 -190 -375 -366 -460 -127 -61 -204 -76 -436 -82 -171 -4 -205 -8 -275 -29 -109 -34 -201 -91 -280 -172 -96 -100 -130 -154 -170 -277 l-25 -78 0 -4343 c0 -3830 2 -4350 15 -4401 29 -111 91 -218 177 -304 82 -82 92 -88 198 -140 131 -64 -132 -59 3405 -59 1868 0 3244 4 3257 9 88 34 118 48 153 74 77 57 138 136 177 229 21 51 22 70 28 503 5 431 6 453 28 512 56 157 184 274 351 321 45 12 136 17 451 21 l395 6 60 29 c141 69 244 185 270 304 3 18 13 32 21 32 12 0 14 622 14 4525 0 4512 0 4525 -20 4545 -11 11 -20 27 -20 36 0 37 -66 137 -129 197 -59 55 -95 76 -194 116 -15 6 -25 16 -22 21 4 7 -1089 10 -3244 10 -2838 0 -3251 -2 -3251 -15z"/> </g> </svg>');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: top center;
  mask-position: top center;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.team-card__image {
  -webkit-mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900.000000 945.000000"><g transform="translate(900,945) scale(-0.1,-0.1)" stroke="none"><path d="M366 9435 c-3 -8 -18 -17 -33 -21 -55 -13 -128 -57 -186 -113 -65 -61 -98 -112 -128 -193 -19 -52 -19 -123 -19 -3704 0 -2604 3 -3661 11 -3685 51 -158 171 -282 322 -330 54 -17 93 -19 409 -19 390 0 457 -7 563 -63 111 -58 214 -186 248 -307 5 -19 13 -170 17 -335 7 -318 7 -317 62 -420 33 -61 76 -111 132 -153 45 -33 76 -49 164 -83 13 -5 1389 -9 3257 -9 3602 0 3278 -7 3434 72 64 32 103 61 162 120 43 43 85 91 93 106 39 69 80 161 90 202 7 25 17 44 24 42 9 -1 12 766 12 3483 0 3043 -2 3485 -15 3485 -9 0 -16 14 -20 38 -8 46 -60 161 -100 218 -76 107 -156 174 -275 231 -110 52 -125 55 -360 63 -315 11 -394 33 -552 153 -84 64 -141 132 -186 223 -61 122 -74 179 -87 369 -6 105 -22 162 -73 264 -72 145 -237 286 -388 333 -41 12 -74 28 -74 35 0 11 -629 13 -3249 13 -2849 0 -3250 -2 -3255 -15z"/></g></svg>');
  mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900.000000 945.000000"><g transform="translate(900,945) scale(-0.1,-0.1)" stroke="none"><path d="M366 9435 c-3 -8 -18 -17 -33 -21 -55 -13 -128 -57 -186 -113 -65 -61 -98 -112 -128 -193 -19 -52 -19 -123 -19 -3704 0 -2604 3 -3661 11 -3685 51 -158 171 -282 322 -330 54 -17 93 -19 409 -19 390 0 457 -7 563 -63 111 -58 214 -186 248 -307 5 -19 13 -170 17 -335 7 -318 7 -317 62 -420 33 -61 76 -111 132 -153 45 -33 76 -49 164 -83 13 -5 1389 -9 3257 -9 3602 0 3278 -7 3434 72 64 32 103 61 162 120 43 43 85 91 93 106 39 69 80 161 90 202 7 25 17 44 24 42 9 -1 12 766 12 3483 0 3043 -2 3485 -15 3485 -9 0 -16 14 -20 38 -8 46 -60 161 -100 218 -76 107 -156 174 -275 231 -110 52 -125 55 -360 63 -315 11 -394 33 -552 153 -84 64 -141 132 -186 223 -61 122 -74 179 -87 369 -6 105 -22 162 -73 264 -72 145 -237 286 -388 333 -41 12 -74 28 -74 35 0 11 -629 13 -3249 13 -2849 0 -3250 -2 -3255 -15z"/></g></svg>');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: top center;
  mask-position: top center;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.faq-accordion .accordion-content::before {
  -webkit-mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 46"><g transform="translate(300,46) scale(-0.05,-0.05)" stroke="none"><path d="M49 871 c-77 -77 -77 -745 0 -822 l49 -49 2902 0 2902 0 49 49 c49 50 70 232 37 320 -20 52 -118 91 -227 91 -139 0 -181 43 -181 189 0 123 -26 206 -76 244 -27 21 -548 26 -2720 26 l-2686 1 -49 -49z"/></g></svg>');
  mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 46"><g transform="translate(300,46) scale(-0.05,-0.05)" stroke="none"><path d="M49 871 c-77 -77 -77 -745 0 -822 l49 -49 2902 0 2902 0 49 49 c49 50 70 232 37 320 -20 52 -118 91 -227 91 -139 0 -181 43 -181 189 0 123 -26 206 -76 244 -27 21 -548 26 -2720 26 l-2686 1 -49 -49z"/></g></svg>');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: top center;
  mask-position: top center;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (max-width: 991px) {
  .faq-accordion .accordion-content::before {
    -webkit-mask: unset;
    mask: unset;
  }
}

.faq-accordion .accordion-content::after {
  -webkit-mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 46"><g transform="translate(300,46) scale(-0.05,-0.05)" stroke="none"><path d="M49 871 c-77 -77 -77 -745 0 -822 l49 -49 2902 0 2902 0 49 49 c49 50 70 232 37 320 -20 52 -118 91 -227 91 -139 0 -181 43 -181 189 0 123 -26 206 -76 244 -27 21 -548 26 -2720 26 l-2686 1 -49 -49z"/></g></svg>');
  mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 46"><g transform="translate(300,46) scale(-0.05,-0.05)" stroke="none"><path d="M49 871 c-77 -77 -77 -745 0 -822 l49 -49 2902 0 2902 0 49 49 c49 50 70 232 37 320 -20 52 -118 91 -227 91 -139 0 -181 43 -181 189 0 123 -26 206 -76 244 -27 21 -548 26 -2720 26 l-2686 1 -49 -49z"/></g></svg>');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: top center;
  mask-position: top center;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (max-width: 991px) {
  .faq-accordion .accordion-content::after {
    -webkit-mask: unset;
    mask: unset;
  }
}

.faq-accordion .accordion-content__image {
  -webkit-mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 546.000000 543.000000"><g transform="translate(0.000000,543.000000) scale(0.100000,-0.100000)" stroke="none"> <path d="M1675 5415 c-6 -8 -30 -19 -55 -24 -200 -40 -440 -214 -546 -396 -16 -27 -34 -59 -41 -70 -20 -33 -43 -94 -67 -175 -29 -102 -36 -282 -36 -991 0 -388 -5 -720 -10 -739 -56 -216 -239 -360 -456 -360 -79 0 -166 -21 -219 -53 -118 -71 -196 -166 -234 -286 -8 -23 -11 -275 -11 -800 0 -655 2 -777 16 -841 8 -41 19 -79 25 -85 5 -5 9 -19 9 -31 0 -12 7 -27 15 -34 8 -7 15 -20 15 -30 0 -10 7 -23 15 -30 8 -7 15 -19 15 -27 0 -16 74 -118 129 -176 36 -39 144 -127 155 -127 4 0 25 -13 48 -30 22 -16 49 -30 58 -30 10 0 23 -7 30 -15 7 -8 21 -15 32 -15 11 0 29 -5 41 -12 12 -6 42 -16 67 -22 29 -6 859 -11 2363 -13 l2317 -3 55 55 55 55 0 2279 c0 1928 -2 2280 -14 2284 -8 3 -18 33 -25 68 -6 34 -15 67 -21 73 -5 5 -10 20 -10 32 0 12 -7 27 -15 34 -8 7 -15 20 -15 30 0 10 -7 23 -15 30 -8 7 -15 19 -15 27 0 16 -74 118 -129 176 -36 39 -144 127 -155 127 -4 0 -25 14 -48 30 -22 17 -49 30 -58 30 -10 0 -23 7 -30 15 -7 8 -22 15 -34 15 -11 1 -32 7 -46 15 -14 8 -40 14 -57 15 -19 0 -41 8 -53 20 -20 20 -33 20 -1528 20 -1331 0 -1508 -2 -1517 -15z"/> </g> </svg>');
  mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 546.000000 543.000000"><g transform="translate(0.000000,543.000000) scale(0.100000,-0.100000)" stroke="none"> <path d="M1675 5415 c-6 -8 -30 -19 -55 -24 -200 -40 -440 -214 -546 -396 -16 -27 -34 -59 -41 -70 -20 -33 -43 -94 -67 -175 -29 -102 -36 -282 -36 -991 0 -388 -5 -720 -10 -739 -56 -216 -239 -360 -456 -360 -79 0 -166 -21 -219 -53 -118 -71 -196 -166 -234 -286 -8 -23 -11 -275 -11 -800 0 -655 2 -777 16 -841 8 -41 19 -79 25 -85 5 -5 9 -19 9 -31 0 -12 7 -27 15 -34 8 -7 15 -20 15 -30 0 -10 7 -23 15 -30 8 -7 15 -19 15 -27 0 -16 74 -118 129 -176 36 -39 144 -127 155 -127 4 0 25 -13 48 -30 22 -16 49 -30 58 -30 10 0 23 -7 30 -15 7 -8 21 -15 32 -15 11 0 29 -5 41 -12 12 -6 42 -16 67 -22 29 -6 859 -11 2363 -13 l2317 -3 55 55 55 55 0 2279 c0 1928 -2 2280 -14 2284 -8 3 -18 33 -25 68 -6 34 -15 67 -21 73 -5 5 -10 20 -10 32 0 12 -7 27 -15 34 -8 7 -15 20 -15 30 0 10 -7 23 -15 30 -8 7 -15 19 -15 27 0 16 -74 118 -129 176 -36 39 -144 127 -155 127 -4 0 -25 14 -48 30 -22 17 -49 30 -58 30 -10 0 -23 7 -30 15 -7 8 -22 15 -34 15 -11 1 -32 7 -46 15 -14 8 -40 14 -57 15 -19 0 -41 8 -53 20 -20 20 -33 20 -1528 20 -1331 0 -1508 -2 -1517 -15z"/> </g> </svg>');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: top center;
  mask-position: top center;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (max-width: 991px) {
  .faq-accordion .accordion-content__image {
    -webkit-mask: unset;
    mask: unset;
  }
}

.our-process__item__bg::after {
  -webkit-mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 516"><g transform="translate(900,516) scale(-0.1,-0.1)" stroke="none"><path d="M573 5149 c1 -6 -19 -23 -45 -38 -50 -27 -101 -88 -121 -143 -8 -24 -13 -302 -17 -1008 -5 -952 -5 -976 -25 -1005 -19 -29 -184 -254 -208 -285 -40 -49 -134 -189 -144 -213 -10 -23 -13 -276 -13 -1152 0 -983 2 -1127 15 -1159 20 -47 84 -111 131 -131 32 -13 509 -15 4344 -15 3835 0 4312 2 4344 15 45 19 114 87 128 126 5 16 16 29 24 29 12 0 14 348 14 2400 0 2052 -2 2400 -14 2400 -8 0 -19 13 -24 29 -13 38 -85 110 -123 123 -16 5 -29 16 -29 24 0 12 -592 14 -4120 14 -3005 0 -4119 -3 -4117 -11z"/></g></svg>');
  mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 516"><g transform="translate(900,516) scale(-0.1,-0.1)" stroke="none"><path d="M573 5149 c1 -6 -19 -23 -45 -38 -50 -27 -101 -88 -121 -143 -8 -24 -13 -302 -17 -1008 -5 -952 -5 -976 -25 -1005 -19 -29 -184 -254 -208 -285 -40 -49 -134 -189 -144 -213 -10 -23 -13 -276 -13 -1152 0 -983 2 -1127 15 -1159 20 -47 84 -111 131 -131 32 -13 509 -15 4344 -15 3835 0 4312 2 4344 15 45 19 114 87 128 126 5 16 16 29 24 29 12 0 14 348 14 2400 0 2052 -2 2400 -14 2400 -8 0 -19 13 -24 29 -13 38 -85 110 -123 123 -16 5 -29 16 -29 24 0 12 -592 14 -4120 14 -3005 0 -4119 -3 -4117 -11z"/></g></svg>');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: top center;
  mask-position: top center;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.testimonial-card__shape::before {
  -webkit-mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 1095"><g transform="translate(900,1095) scale(-0.1,-0.1)" stroke="none"><path d="M1600 10936 c0 -8 -14 -17 -30 -21 -37 -8 -110 -46 -157 -82 -30 -23 -133 -141 -268 -308 -22 -27 -85 -103 -140 -170 -55 -66 -107 -130 -115 -141 -14 -20 -147 -180 -395 -476 -55 -66 -107 -130 -115 -142 -8 -13 -36 -47 -62 -77 -211 -244 -265 -319 -299 -411 -19 -52 -19 -131 -19 -4394 0 -3159 3 -4350 11 -4375 36 -111 107 -206 199 -267 118 -79 -227 -72 3575 -72 3791 0 3456 -6 3572 69 32 21 83 63 113 92 31 30 85 81 120 114 62 56 145 134 575 540 105 99 195 184 201 190 6 5 72 67 145 136 74 69 183 171 243 228 60 56 120 116 134 134 30 40 67 114 76 149 3 16 13 28 21 28 13 0 15 526 15 4445 0 3394 -3 4444 -12 4443 -6 -2 -17 13 -23 32 -47 144 -180 281 -301 311 -26 7 -44 17 -44 25 0 12 -531 14 -3510 14 -3026 0 -3510 -2 -3510 -14z"/></g></svg>');
  mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 1095"><g transform="translate(900,1095) scale(-0.1,-0.1)" stroke="none"><path d="M1600 10936 c0 -8 -14 -17 -30 -21 -37 -8 -110 -46 -157 -82 -30 -23 -133 -141 -268 -308 -22 -27 -85 -103 -140 -170 -55 -66 -107 -130 -115 -141 -14 -20 -147 -180 -395 -476 -55 -66 -107 -130 -115 -142 -8 -13 -36 -47 -62 -77 -211 -244 -265 -319 -299 -411 -19 -52 -19 -131 -19 -4394 0 -3159 3 -4350 11 -4375 36 -111 107 -206 199 -267 118 -79 -227 -72 3575 -72 3791 0 3456 -6 3572 69 32 21 83 63 113 92 31 30 85 81 120 114 62 56 145 134 575 540 105 99 195 184 201 190 6 5 72 67 145 136 74 69 183 171 243 228 60 56 120 116 134 134 30 40 67 114 76 149 3 16 13 28 21 28 13 0 15 526 15 4445 0 3394 -3 4444 -12 4443 -6 -2 -17 13 -23 32 -47 144 -180 281 -301 311 -26 7 -44 17 -44 25 0 12 -531 14 -3510 14 -3026 0 -3510 -2 -3510 -14z"/></g></svg>');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: top center;
  mask-position: top center;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (max-width: 575px) {
  .testimonial-card__shape::before {
    -webkit-mask: unset;
    mask: unset;
  }
}

.testimonial-card__shape::after {
  -webkit-mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 1098"><g transform="translate(900,1098) scale(-0.1,-0.1)" stroke="none"><path d="M1600 10965 c0 -8 -12 -17 -27 -21 -102 -21 -198 -100 -328 -269 -16 -21 -55 -68 -86 -104 -46 -55 -259 -314 -574 -699 -60 -73 -112 -137 -255 -311 -41 -51 -111 -135 -155 -189 -110 -132 -130 -165 -158 -247 -16 -45 -17 -371 -17 -4395 0 -4172 1 -4349 18 -4402 24 -74 66 -142 117 -193 44 -45 142 -106 190 -120 17 -5 1566 -10 3448 -12 3775 -3 3467 -9 3574 60 53 34 73 51 354 317 96 90 241 227 323 305 83 77 188 176 235 220 47 44 130 123 185 175 55 52 145 138 201 190 246 232 298 296 319 393 4 15 13 27 21 27 13 0 15 527 15 4450 0 3838 -2 4450 -14 4450 -8 0 -18 14 -21 33 -17 78 -93 189 -163 240 -58 42 -118 74 -154 81 -16 4 -28 13 -28 21 0 13 -417 15 -3510 15 -3093 0 -3510 -2 -3510 -15z"/></g></svg>');
  mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 1098"><g transform="translate(900,1098) scale(-0.1,-0.1)" stroke="none"><path d="M1600 10965 c0 -8 -12 -17 -27 -21 -102 -21 -198 -100 -328 -269 -16 -21 -55 -68 -86 -104 -46 -55 -259 -314 -574 -699 -60 -73 -112 -137 -255 -311 -41 -51 -111 -135 -155 -189 -110 -132 -130 -165 -158 -247 -16 -45 -17 -371 -17 -4395 0 -4172 1 -4349 18 -4402 24 -74 66 -142 117 -193 44 -45 142 -106 190 -120 17 -5 1566 -10 3448 -12 3775 -3 3467 -9 3574 60 53 34 73 51 354 317 96 90 241 227 323 305 83 77 188 176 235 220 47 44 130 123 185 175 55 52 145 138 201 190 246 232 298 296 319 393 4 15 13 27 21 27 13 0 15 527 15 4450 0 3838 -2 4450 -14 4450 -8 0 -18 14 -21 33 -17 78 -93 189 -163 240 -58 42 -118 74 -154 81 -16 4 -28 13 -28 21 0 13 -417 15 -3510 15 -3093 0 -3510 -2 -3510 -15z"/></g></svg>');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: top center;
  mask-position: top center;
  -webkit-mask-size: cover;
  mask-size: cover;
}
@media (max-width: 575px) {
  .testimonial-card__shape::after {
    -webkit-mask: unset;
    mask: unset;
  }
}

.testimonial-card__image {
  -webkit-mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 825"><g transform="translate(600,825) scale(-0.1,-0.1)" stroke="none"><path d="M470 8235 c0 -9 -14 -17 -37 -20 -74 -13 -199 -84 -274 -155 -26 -25 -109 -149 -109 -163 0 -7 -5 -18 -10 -23 -6 -6 -17 -36 -25 -68 -13 -50 -15 -496 -15 -3686 0 -2704 3 -3642 12 -3677 22 -94 86 -209 158 -284 8 -9 45 -37 82 -62 l68 -47 2299 0 c2031 0 2300 2 2311 15 7 8 16 15 21 15 13 0 93 63 153 119 28 27 74 68 101 91 85 72 107 91 211 184 55 50 119 107 141 126 98 85 269 239 284 256 29 34 89 124 89 133 0 5 7 22 15 38 8 15 17 45 20 66 4 23 11 37 20 37 13 0 15 421 15 3315 0 2894 -2 3315 -15 3315 -9 0 -17 14 -20 38 -13 73 -84 198 -155 273 -22 23 -148 109 -160 109 -6 0 -21 6 -33 14 -12 8 -39 17 -59 20 -24 4 -38 12 -38 21 0 13 -322 15 -2525 15 -2203 0 -2525 -2 -2525 -15z"/></g></svg>');
  mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 825"><g transform="translate(600,825) scale(-0.1,-0.1)" stroke="none"><path d="M470 8235 c0 -9 -14 -17 -37 -20 -74 -13 -199 -84 -274 -155 -26 -25 -109 -149 -109 -163 0 -7 -5 -18 -10 -23 -6 -6 -17 -36 -25 -68 -13 -50 -15 -496 -15 -3686 0 -2704 3 -3642 12 -3677 22 -94 86 -209 158 -284 8 -9 45 -37 82 -62 l68 -47 2299 0 c2031 0 2300 2 2311 15 7 8 16 15 21 15 13 0 93 63 153 119 28 27 74 68 101 91 85 72 107 91 211 184 55 50 119 107 141 126 98 85 269 239 284 256 29 34 89 124 89 133 0 5 7 22 15 38 8 15 17 45 20 66 4 23 11 37 20 37 13 0 15 421 15 3315 0 2894 -2 3315 -15 3315 -9 0 -17 14 -20 38 -13 73 -84 198 -155 273 -22 23 -148 109 -160 109 -6 0 -21 6 -33 14 -12 8 -39 17 -59 20 -24 4 -38 12 -38 21 0 13 -322 15 -2525 15 -2203 0 -2525 -2 -2525 -15z"/></g></svg>');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: top center;
  mask-position: top center;
  -webkit-mask-size: auto;
  mask-size: auto;
}

.blog-card::before {
  -webkit-mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900.000000 1389.000000"><g transform="translate(900.000000,1389.000000) scale(-0.100000,-0.100000)" stroke="none"> <path d="M363 13878 c1 -6 -14 -17 -33 -23 -148 -48 -275 -173 -314 -309 -14 -49 -16 -687 -16 -6608 0 -5810 2 -6558 15 -6596 44 -127 134 -235 237 -285 127 -61 -101 -57 3376 -57 3359 0 3254 -1 3377 43 22 8 310 148 640 312 1110 550 1045 514 1151 627 81 87 148 212 169 316 4 18 13 32 21 32 12 0 14 835 14 6090 0 4652 -3 6089 -12 6088 -6 -2 -17 13 -23 32 -47 144 -180 281 -301 311 -26 7 -44 17 -44 25 0 12 -623 14 -4130 14 -3153 0 -4129 -3 -4127 -12z"/> </g> </svg>');
  mask: url('data:image/svg+xml;utf8,<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900.000000 1389.000000"><g transform="translate(900.000000,1389.000000) scale(-0.100000,-0.100000)" stroke="none"> <path d="M363 13878 c1 -6 -14 -17 -33 -23 -148 -48 -275 -173 -314 -309 -14 -49 -16 -687 -16 -6608 0 -5810 2 -6558 15 -6596 44 -127 134 -235 237 -285 127 -61 -101 -57 3376 -57 3359 0 3254 -1 3377 43 22 8 310 148 640 312 1110 550 1045 514 1151 627 81 87 148 212 169 316 4 18 13 32 21 32 12 0 14 835 14 6090 0 4652 -3 6089 -12 6088 -6 -2 -17 13 -23 32 -47 144 -180 281 -301 311 -26 7 -44 17 -44 25 0 12 -623 14 -4130 14 -3153 0 -4129 -3 -4127 -12z"/> </g> </svg>');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: top center;
  mask-position: top center;
  -webkit-mask-size: cover;
  mask-size: cover;
}
/*# sourceMappingURL=aigence-custom-rtl.css.map */
